$primery-color: #F2F2F2;
$secondary-color: #000000;
a {
	text-decoration: none;
}

.logo {
	font-size: 17px;
	font-family: 'Montserrat-SemiBold';
	color: $secondary-color;
	padding-left: 71px;
}
header{
	height: 132px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul li {
	display: inline-block;
	padding-right: 45px;
}
.menu {
	color: $secondary-color;
	font-size: 12px;
	font-family: 'Montserrat-Regular';
}
.social a i {
	color: $secondary-color;
	padding-right: 10px;
}
.search a i {
	color: $secondary-color;
	padding-right: 69px;
}
.tab-menu {
	width: 25px;
	height: 19px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	display: none;
}
.tab-menu div {
	height: 3px;
	width: 100%;
	background: $secondary-color;
}
.main_space h2 {
	padding-top: 50px;
	padding-left: 300px;
	font-size: 12px;
	font-family: 'Montserrat-Regular';
}
.main_space .beauty_img {
	padding-top: 35px;
	padding-left: 300px;
	width: 862px;
	height: 414px;
} 
.main_space h3 {
	padding-top: 40px;
	padding-left: 300px;
	font-size: 35px;
	font-family: 'Montserrat-Regular';
}
.main_space .thre-icons {
	padding-top: 15px;
	padding-left: 300px;
}
.main_space .thre-icons a {
	color: $secondary-color;
	padding-right: 25px;
}
.main_space .text {
	padding-top: 40px;
	padding-left: 300px;
	font-size: 15px;
	font-family: 'Montserrat-Regular';
	width: 850px;
}
.color_text {
	margin-top: 40px;
	margin-left: 300px;
	background-color: $primery-color;
	width: 820px;
	height: 110px;
}
.color_text p {
	padding-top: 20px;
	padding-left: 40px;
	font-size: 15px;
	font-family: 'Montserrat-Regular';
}
.tegs_social {
	padding-top: 35px;
	padding-left: 300px;
	display: flex;
	flex-wrap: nowrap;
}
.tegs_social .tegs a {
	color: $secondary-color;
	padding-right: 10px;
}
.tegs_social .social {
	padding-left: 470px;
}
.tegs_social .social a {
	padding-left: 10px;
}
.main_space h4 {
	padding-top: 45px;
	padding-left: 300px;
	font-size: 15px;
	font-family: 'Montserrat-Regular';
}
.p_video {
	padding-top: 20px;
	padding-left: 300px;
	display: flex;
	flex-wrap: nowrap;
}
.p_video img {
	width: 268px;
	height: 147px;
}
.video_p {
	padding-right: 25px;
}
.video_p p {
	padding-top: 15px;
	color: #6D7073;
	font-size: 16px;
	font-family: 'Montserrat-Regular';
}
.reklama h3 {
	font-size: 16px;
	font-family: 'Montserrat-Regular';
	padding-top: 60px;
}
.reklama .reklam_img {
	width: 300px;
	height: 200px;
	padding-top: 30px;
}
.reklama p {
	padding-top: 40px;
	font-size: 16px;
	font-family: 'Montserrat-Regular';
	width: 300px;
}
.reklama .img_text {
	padding-top: 30px;
	width: 105px;
	height: 25px;
}
.reklama h4 {
	padding-top: 100px;
	font-size: 14px;
	font-family: 'Montserrat-Regular';
}
.video .img_video {
	padding-top: 15px;
	width: 300px;
	height: 150px;
	display: block;
}
.one_form {
	margin-top: 70px;
	background-color: $primery-color;
	width: 300px;
	height: 160px;
}
.one_form h1 {
	padding-top: 34px;
	padding-left: 27px;
	font-size: 14px;
	font-family: 'Montserrat-Regular';
}
.one_form input {
	margin-top: 35px;
	margin-left: 27px;
}
.send {
	width: 20px;
	height: 17px;
}
.reklama h5 {
	padding-top: 70px;
	font-size: 14px;
	font-family: 'Montserrat-Regular';
}
.tags {
	padding-top: 25px;
	width: 300px;
}
.tags a {
	padding-right: 10px;
}
.container_space {
	display: flex;
	flex-wrap: nowrap;
}
.reklama{
	padding-left: 60px;
}
.footer {
	background-color: $primery-color;
	margin-top: 55px;
}
.footer h2 {
	padding-top: 140px;
	padding-left: 300px;
	font-size: 35px;
	font-family: 'Montserrat-Regular';
}
.footer p {
	padding-top: 45px;
	padding-left: 300px;
	font-size: 15px;
	font-family: 'Montserrat-Regular';
	width: 580px;
}
.footer .social {
	padding-top: 65px;
	padding-left: 300px;
	padding-bottom: 115px
}
.footer .social a i {
	padding-right: 10px;
}
.footer img {
	width: 520px;
	height: 380px;
	position: absolute;
	left: 1000px;
	top: 1900px;
}
.mini_footer .two_form {
	padding-top: 95px;
	padding-left: 300px;
	padding-bottom: 110px;
}
@media screen and (max-width: 1024px) {
	.hidden {
		visibility: hidden;
		display: none;
	}
	div.tab-menu {
		display: flex;
		padding-right: 73px;
	}
}