$primery-color: #F2F2F2;
$secondary-color: #000000;
body {
	font-family: 'Montserrat-Regular';
}
a {
	text-decoration: none;
}
p {
	line-height: 22px;
}

.logo {
	font-size: 17px;
	font-family: 'Montserrat-SemiBold';
	color: $secondary-color;
	padding-left: 71px;
}
header{
	height: 132px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul li {
	display: inline-block;
	padding-right: 45px;
}
.menu {
	color: $secondary-color;
	font-size: 12px;
	font-family: 'Montserrat-Regular';
}
.social a i {
	color: $secondary-color;
	padding-right: 10px;
}
.search a i {
	color: $secondary-color;
	padding-right: 69px;
}
.tab-menu {
	width: 25px;
	height: 19px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	display: none;
}
.tab-menu div {
	height: 3px;
	width: 100%;
	background: $secondary-color;
}
.form_space {
	background-image: url('../img/img_3.jpg');
	width: 100%;
	height: 530px;
	padding-top: 100px;
	box-sizing: border-box;
}
form {
	background-color: #FFFFFF;
	width: 40%;
	height: 330px;
	margin: auto;
}
form h2 {
	padding-top: 60px;
	padding-left: 10%;
	font-size: 16px;
	font-family: 'Montserrat-Regular';
}
form input {
	margin-top: 50px;
	margin-left: 10%;
	color: #000000;
	border: none;
	border-bottom: 2px solid $secondary-color;
	padding-right: 15%;
}
.long_input {
	padding-right: 30%;
}
button {
	margin-left: 10%;
	color: #FFFFFF;
	border: 2px solid #BE917B;
  	padding: 10px 40px;
  	border-radius: 25px;
  	background: #BE917B;
}
footer {
	background-color: $primery-color;
}
.footer {
	position: relative;
	width: calc(50% + 360px);
	margin: auto;
	margin-top: 55px;
}
.footer h2 {
	padding-top: 140px;
	font-size: 35px;
	font-family: 'Montserrat-Regular';
}
.footer p {
	width: 45%;
	padding-top: 45px;
	font-size: 15px;
	font-family: 'Montserrat-Regular';
}
.footer .social {
	padding-top: 65px;
	padding-bottom: 115px
}
.footer img {
	width: 45%;
	position: absolute;
	right: 0px;
	bottom: -45px;
}
.mini_footer {
	background-color: #fff;
}
.mini_footer .two_form {
	padding-top: 95px;
	padding-bottom: 110px;
	width: calc(50% + 360px);
	margin: auto;
}
.two_form input {
	color: #000000;
	border: none;
	border-bottom: 2px solid $secondary-color;
	padding-right: 100px;
}
.mini_footer img {
	padding-left: 15px;
}
@media screen and (max-width: 1024px) {
	.hidden {
		visibility: hidden;
		display: none;
	}
	div.tab-menu {
		display: flex;
		padding-right: 73px;
	}
	form {
		width: 100%;
	}
}