$primery-color: #F2F2F2;
$secondary-color: #000000;

.logo {
	font-size: 17px;
	font-family: 'Montserrat-SemiBold';
	color: $secondary-color;
	padding-left: 71px;
}
header{
	height: 132px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul li {
	display: inline-block;
}
.menu {
	color: $secondary-color;
	font-size: 12px;
	font-family: 'Montserrat-Regular';
}
.social a i {
	color: $secondary-color;
}
.search a i {
	color: $secondary-color;
	padding-right: 69px;
}
.tab-menu {
	width: 25px;
	height: 19px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	display: none;
}
.tab-menu div {
	height: 3px;
	width: 100%;
	background: $secondary-color;
}
@media screen and (max-width: 600px) {
	.hidden {
		visibility: hidden;
		display: none;
	}
	div.tab-menu {
		display: flex;
		padding-right: 23px;
	}
	.logo {
		padding-left: 27px;
	}
	.banner {
		height: 626px;
		background-color: $primery-color; 
	}
	.banner h1 {
		padding: 124px 27px 0px 27px;
		font-family: 'Montserrat-Regular';
		font-size: 12px;
		color: $secondary-color; 
	}
	.banner h2 {
		padding: 50px 27px 0px 27px;
		font-family: 'Montserrat-Regular';
		font-size: 25px; 
		color: $secondary-color;
	}
}
@media screen and (max-width: 1024px) {
	.hidden {
		visibility: hidden;
		display: none;
	}
	div.tab-menu {
		display: flex;
		padding-right: 73px;
	}
}