body {
  font-family: 'Montserrat-Regular';
}

a {
  text-decoration: none;
}

p {
  line-height: 22px;
}

a i {
  color: black;
}

.logo {
  font-size: 17px;
  font-family: 'Montserrat-SemiBold';
  color: black;
  padding-left: 71px;
}

header {
  height: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_header nav ul li {
  display: inline-block;
  padding-left: 40px;
}

.left_header nav ul li a {
  color: black;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
}

.right_header {
  width: 39%;
}

.right_header a {
  display: inline-block;
}

.right_header .social {
  padding-left: 10%;
  float: left;
}

.right_header .social a i {
  padding-right: 10px;
  font-size: 12px;
}

.right_header .search {
  padding-right: 10px;
  float: right;
}

@media screen and (min-width: 1024px) {
  .hiden {
    visibility: hidden;
    display: none;
  }
}
.tab-menu {
  width: 25px;
  height: 19px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  display: none;
}

.tab-menu div {
  height: 3px;
  width: 100%;
  background: black;
}

.banner {
  display: inline-block;
}

.right_banner img {
  width: 50%;
  float: left;
}

.left_banner {
  background-color: #fff;
  min-height: 570px;
  width: 50%;
  float: right;
}

.left_banner h1 {
  padding-top: 40px;
  padding-left: 5%;
  font-size: 16px;
  font-family: 'Montserrat-SemiBold';
}

.left_banner p {
  padding-top: 40px;
  padding-left: 5%;
  width: 50%;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
}

.left_banner img {
  padding-top: 65px;
  padding-left: 5%;
  width: 10%;
  height: 30px;
}

footer {
  background-color: #f2f2f2;
}

.footer {
  position: relative;
  width: calc(50% + 360px);
  margin: auto;
  margin-top: 55px;
}

.footer h2 {
  padding-top: 140px;
  font-size: 35px;
  font-family: 'Montserrat-SemiBold';
}

.footer p {
  width: 45%;
  padding-top: 45px;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
}

.footer .social {
  padding-top: 65px;
  padding-bottom: 115px;
}

.footer .social a i {
  padding-right: 15px;
}

.footer img {
  width: 45%;
  position: absolute;
  right: 0px;
  bottom: -45px;
}

.mini_footer {
  background-color: #fff;
}

.mini_footer .two_form {
  padding-top: 95px;
  padding-bottom: 110px;
  width: calc(50% + 360px);
  margin: auto;
}

.two_form input {
  color: #000000;
  border: none;
  border-bottom: 2px solid black;
  padding-right: 100px;
}

.mini_footer img {
  padding-left: 15px;
}

@media screen and (max-width: 1024px) {
  .hidden {
    visibility: hidden;
    display: none;
  }

  div.tab-menu {
    display: flex;
    padding-right: 73px;
  }

  .right_banner img {
    width: 90%;
    padding-left: 5%;
  }

  .left_banner {
    background-color: #fff;
    height: auto;
    width: 100%;
  }

  .left_banner p {
    width: 90%;
  }

  .footer {
    width: 100%;
    padding: 100px 10% 80px 10%;
    box-sizing: border-box;
  }

  .footer img {
    position: relative;
    width: 80%;
    height: 240px;
    bottom: 0px;
    display: block;
    margin: auto;
  }

  .footer h2 {
    padding-top: 30px;
    text-align: center;
  }

  .footer p {
    width: 100%;
    text-align: center;
  }

  .footer .social {
    width: auto;
    text-align: center;
    padding-bottom: 0px;
  }

  .mini_footer .two_form {
    width: 100%;
    padding: 70px 5% 70px 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  .mini_footer .two_form input {
    width: 40%;
  }
}
