body {
  font-family: 'Montserrat-Regular';
}

a {
  text-decoration: none;
}

p {
  line-height: 22px;
}

a i {
  color: black;
}

.logo {
  font-size: 17px;
  font-family: 'Montserrat-SemiBold';
  color: black;
  padding-left: 71px;
}

header {
  height: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_header {
  width: 59%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_header nav ul li {
  display: inline-block;
  padding-left: 40px;
}

.left_header nav ul li a {
  color: black;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
}

.right_header {
  width: 41%;
}

.right_header a {
  display: inline-block;
}

.right_header .social {
  padding-left: 10%;
  float: left;
}

.right_header .social a i {
  padding-right: 10px;
  font-size: 12px;
}

.right_header .search {
  padding-right: 60px;
  float: right;
}

.tab-menu {
  width: 25px;
  height: 19px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  display: none;
}

.tab-menu div {
  height: 3px;
  width: 100%;
  background: black;
}

.banner {
  height: 626px;
  background-image: url("../img/img_1.jpg");
  width: 100%;
  background-size: auto;
  background-position: left bottom;
}

.left_banner {
  background-color: #f2f2f2;
  height: 626px;
  width: 41%;
  float: right;
}

.left_banner h1 {
  padding-top: 105px;
  padding-left: 10%;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
  color: #6D7073;
}

.left_banner h2 {
  padding-top: 40px;
  padding-left: 10%;
  font-family: 'Montserrat-SemiBold';
  font-size: 35px;
}

.left_banner div {
  padding-top: 35px;
  padding-left: 10%;
}

.left_banner div a {
  color: #6D7073;
  padding-right: 25px;
}

.left_banner p {
  padding-top: 50px;
  padding-left: 10%;
  width: 70%;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  color: #6D7073;
}

.thre-icons {
  font-size: 12px;
}

.left_banner .read_more {
  color: #FFFFFF;
  margin-top: 110px;
  margin-left: 10%;
  display: inline-block;
  border: 2px solid black;
  padding: 15px 30px;
  border-radius: 25px;
  background: black;
}

article {
  box-sizing: border-box;
}

.main_space {
  width: 50%;
}

.main_space h2 {
  padding-top: 60px;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
}

.main_space img {
  width: 100%;
}

.article_img {
  max-height: 460px;
  overflow: hidden;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article_img img {
  width: 100%;
  transition: all 0.5s;
}

article:hover .article_img img {
  transform: scale(1.2);
}

.main_space h3 {
  padding-top: 35px;
  font-size: 35px;
  font-family: 'Montserrat-SemiBold';
}

.main_space p {
  padding-top: 35px;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
  width: 100%;
}

.main_space .thre-icons {
  padding-top: 45px;
}

.main_space .thre-icons a {
  color: #000000;
  padding-right: 25px;
}

span {
  padding-left: 5px;
}

.icon_read .read_more {
  padding-top: 45px;
  color: black;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
}

.border-bottom {
  margin-top: 40px;
  border-bottom: 2px dashed black;
}

.icon_read {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.load_more {
  padding-top: 50px;
}

.load_more a {
  color: #FFFFFF;
  border: 2px solid #BE917B;
  padding: 15px 45px;
  border-radius: 25px;
  background: #BE917B;
}

.reklama {
  width: 300px;
}

.reklama h3 {
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  padding-top: 60px;
}

.reklama .reklam_img {
  width: 300px;
  height: 200px;
  padding-top: 30px;
}

.reklama .reklam_p {
  padding-top: 40px;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  width: 300px;
}

.reklama .img_text {
  padding-top: 30px;
  width: 105px;
  height: 25px;
}

.reklama h4 {
  padding-top: 100px;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
}

.video .img_video {
  padding-top: 15px;
  width: 300px;
  display: block;
}

.img_p {
  position: relative;
}

.video p {
  color: white;
  border: 1px solid black;
  background: black;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
  padding: 15px;
  width: 40%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.one_form {
  margin-top: 70px;
  background-color: #f2f2f2;
  width: 300px;
  height: 160px;
}

.one_form h1 {
  padding-top: 34px;
  padding-left: 27px;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
}

.one_form input {
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-bottom: 2px solid black;
  padding: 15px 0px;
  margin-top: 35px;
  margin-left: 27px;
}

.send {
  width: 20px;
  height: 20px;
}

.reklama h5 {
  padding-top: 70px;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
}

.tags {
  padding-top: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tags_a {
  margin-right: 10px;
  margin-top: 10px;
  color: black;
  padding: 10px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  font-size: 12px;
  font-family: 'Montserrat-SemiBold';
}

.reklama .tags .tags_a:hover {
  background: black;
  color: white;
}

.container_space {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.reklama {
  padding-left: 60px;
}

footer {
  background-color: #f2f2f2;
}

.footer {
  position: relative;
  width: calc(50% + 360px);
  margin: auto;
  margin-top: 55px;
}

.footer h2 {
  padding-top: 140px;
  font-size: 35px;
  font-family: 'Montserrat-SemiBold';
}

.footer p {
  width: 45%;
  padding-top: 45px;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
}

.footer .social {
  padding-top: 65px;
  padding-bottom: 115px;
  font-size: 12px;
}

.footer .social a i {
  padding-right: 15px;
}

.footer img {
  width: 45%;
  position: absolute;
  right: 0px;
  bottom: -45px;
}

.mini_footer {
  background-color: #fff;
}

.mini_footer .two_form {
  padding-top: 95px;
  padding-bottom: 110px;
  width: calc(50% + 360px);
  margin: auto;
}

.two_form input {
  color: #000000;
  border: none;
  border-bottom: 2px solid black;
  padding-right: 100px;
}

.mini_footer img {
  padding-left: 15px;
}

@media screen and (max-width: 1024px) {
  .hidden {
    visibility: hidden;
    display: none;
  }

  header {
    height: 75px;
  }

  div.tab-menu {
    display: flex;
    padding-right: 73px;
  }

  .right_header .search {
    padding-right: 10px;
  }

  .banner {
    background-size: cover;
  }

  .left_banner {
    background-color: #f2f2f2e3;
    width: 100%;
  }

  .left_banner h1 {
    padding-left: 5%;
  }

  .left_banner h2 {
    padding-left: 5%;
  }

  .left_banner div {
    padding-left: 5%;
  }

  .left_banner p {
    padding-left: 5%;
  }

  .read_more {
    margin-left: 5%;
  }

  article {
    box-sizing: border-box;
  }

  .main_space {
    width: 95%;
  }

  .banner .left_banner .read_more {
    margin-left: 5%;
  }

  .footer {
    width: 100%;
    padding: 100px 10% 80px 10%;
    box-sizing: border-box;
  }

  .footer img {
    position: relative;
    width: 80%;
    height: 240px;
    bottom: 0px;
    display: block;
    margin: auto;
  }

  .footer h2 {
    padding-top: 30px;
    text-align: center;
  }

  .footer p {
    width: 100%;
    text-align: center;
  }

  .footer .social {
    width: auto;
    text-align: center;
    padding-bottom: 0px;
  }

  .mini_footer .two_form {
    width: 100%;
    padding: 70px 5% 70px 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  .mini_footer .two_form input {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .hidden {
    visibility: hidden;
    display: none;
  }

  div.tab-menu {
    display: flex;
    padding-right: 23px;
  }

  .logo {
    padding-left: 27px;
  }

  .banner {
    height: 626px;
    background-color: #f2f2f2;
  }

  .banner h1 {
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    color: black;
  }

  .banner h2 {
    font-family: 'Montserrat-Regular';
    font-size: 25px;
    color: black;
  }

  .main_space {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer {
    width: 100%;
    padding: 90px 5% 60px 5%;
    box-sizing: border-box;
  }

  .footer img {
    position: relative;
    width: 100%;
    bottom: 0px;
  }

  .footer h2 {
    padding-top: 30px;
    text-align: center;
  }

  .footer p {
    width: auto;
    text-align: center;
  }

  .footer .social {
    width: auto;
    text-align: center;
    padding-bottom: 0px;
  }

  .mini_footer .two_form {
    width: 100%;
    padding: 50px 5% 50px 5%;
    box-sizing: border-box;
  }

  .mini_footer .two_form input {
    width: 50%;
  }
}
