a {
  text-decoration: none;
}

.logo {
  font-size: 17px;
  font-family: 'Montserrat-SemiBold';
  color: black;
  padding-left: 71px;
}

header {
  height: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding-right: 45px;
}

.menu {
  color: black;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
}

.social a i {
  color: black;
  padding-right: 10px;
}

.search a i {
  color: black;
  padding-right: 69px;
}

.tab-menu {
  width: 25px;
  height: 19px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  display: none;
}

.tab-menu div {
  height: 3px;
  width: 100%;
  background: black;
}

.banner {
  height: 626px;
  background-image: url("../img/img_1.jpg");
  width: 100%;
  background-size: contain;
}

.left_banner {
  background-color: #f2f2f2;
  height: 626px;
  width: 51%;
  float: right;
}

.left_banner h1 {
  padding-top: 105px;
  padding-left: 100px;
  font-size: 12px;
  color: #6D7073;
}

.left_banner h2 {
  padding-top: 40px;
  padding-left: 100px;
  font-family: 'Montserrat-Regular';
  font-size: 35px;
}

.left_banner div {
  padding-top: 35px;
  padding-left: 100px;
}

.left_banner div a {
  color: #6D7073;
  padding-right: 25px;
}

.left_banner p {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 400px;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  color: #6D7073;
}

.left_banner .read_more {
  color: #FFFFFF;
  margin-top: 110px;
  margin-left: 100px;
  display: inline-block;
  border: 2px solid black;
  padding: 15px 30px;
  border-radius: 25px;
  background: black;
}

.main_space h2 {
  padding-top: 60px;
  padding-left: 300px;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
}

.main_space img {
  padding-top: 35px;
  padding-left: 300px;
  width: 860px;
  height: 465px;
}

.main_space h3 {
  padding-top: 35px;
  padding-left: 300px;
  font-size: 35px;
  font-family: 'Montserrat-Regular';
}

.main_space p {
  padding-top: 35px;
  padding-left: 300px;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
  width: 820px;
}

.main_space .thre-icons {
  padding-top: 45px;
  padding-left: 300px;
}

.main_space .thre-icons a {
  color: #000000;
  padding-right: 25px;
}

.icon_read .read_more {
  padding-top: 45px;
  padding-left: 575px;
  color: black;
}

.border-bottom {
  margin-left: 300px;
  margin-top: 40px;
  border-bottom: 2px dashed black;
}

.icon_read {
  display: flex;
  flex-wrap: nowrap;
}

.load_more {
  padding-top: 50px;
  padding-left: 300px;
}

.load_more a {
  color: #FFFFFF;
  border: 2px solid #BE917B;
  padding: 15px 45px;
  border-radius: 25px;
  background: #BE917B;
}

.reklama h3 {
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  padding-top: 60px;
}

.reklama .reklam_img {
  width: 300px;
  height: 200px;
  padding-top: 30px;
}

.reklama p {
  padding-top: 40px;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  width: 300px;
}

.reklama .img_text {
  padding-top: 30px;
  width: 105px;
  height: 25px;
}

.reklama h4 {
  padding-top: 100px;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
}

.video .img_video {
  padding-top: 15px;
  width: 300px;
  height: 150px;
  display: block;
}

.one_form {
  margin-top: 70px;
  background-color: #f2f2f2;
  width: 300px;
  height: 160px;
}

.one_form h1 {
  padding-top: 34px;
  padding-left: 27px;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
}

.one_form input {
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-bottom: 2px solid black;
  padding: 15px 0px;
  margin-top: 35px;
  margin-left: 27px;
}

.send {
  width: 20px;
  height: 20px;
}

.reklama h5 {
  padding-top: 70px;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
}

.tags {
  padding-top: 25px;
  width: 300px;
}

.tags_a {
  color: black;
  margin-right: 10px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
}

.container_space {
  display: flex;
  flex-wrap: nowrap;
}

.reklama {
  padding-left: 60px;
}

.footer {
  background-color: #f2f2f2;
  margin-top: 55px;
}

.footer h2 {
  padding-top: 140px;
  padding-left: 300px;
  font-size: 35px;
  font-family: 'Montserrat-Regular';
}

.footer p {
  padding-top: 45px;
  padding-left: 300px;
  font-size: 15px;
  font-family: 'Montserrat-Regular';
  width: 580px;
}

.footer .social {
  padding-top: 65px;
  padding-left: 300px;
  padding-bottom: 115px;
}

.footer img {
  width: 520px;
  height: 380px;
  position: absolute;
  left: 1000px;
  top: 3450px;
}

.mini_footer .two_form {
  padding-top: 95px;
  padding-left: 300px;
  padding-bottom: 110px;
}

.two_form input {
  color: #000000;
  border: none;
  border-bottom: 2px solid black;
  padding-right: 100px;
}

.mini_footer img {
  padding-left: 15px;
}

@media screen and (max-width: 600px) {
  .hidden {
    visibility: hidden;
    display: none;
  }

  div.tab-menu {
    display: flex;
    padding-right: 23px;
  }

  .logo {
    padding-left: 27px;
  }
}
@media screen and (max-width: 1024px) {
  .hidden {
    visibility: hidden;
    display: none;
  }

  div.tab-menu {
    display: flex;
    padding-right: 73px;
  }

  .banner {
    background-size: cover;
  }

  .left_banner {
    background-color: #f2f2f2e3;
    width: 100%;
  }

  .left_banner h1 {
    padding-left: 15px;
  }
}
